*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 280px auto 350px;
    background-color: black;
    
    
 }
 /* Left-Sidebar */
 .sidebar{
 position: fixed;
 height: 100vh;

 }

.twitter-logo{
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
     
}
svg{
    height: 30px;
    width: 30px;
    fill: rgb(231, 233, 234);
    margin-right: 10px;
}
.nav-link{
   color: rgb(231, 233, 234);
   padding: 10px;
 
}
.nav-item:hover{
    background-color:rgb(20, 20, 20) ;
    border-radius: 99999px;
    width: 200px;
   
}
.tweet-button{
    background-color: rgb(29, 155, 240);
    border-bottom-left-radius: 9999px; 
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: solid rgba(0, 0, 0, 0);
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    height: 52px;
    width: 225px;
    margin-top: 20px;
    margin-bottom: 60px;

}
.tweet-button:hover{
    background-color:rgb(24, 130, 200) ;
}
.button-text{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.button-text:hover{
    color: #ffffff;
}
.profile{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile:hover{
    background-color:rgb(20, 20, 20) ;
    border-radius: 99999px;
   
}


.profile span{
    margin-left: 110px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;


}
.profile strong{
    width: 33px;
    height: 18px;
    padding-left: 5px;
}
.twitter-handle{
    padding-left: 40px;
    height: 18px;
    width: 143px;
    font-size: 15px;
    color: rgb(113, 118, 123);
}

/* .Left-Sidebar Ends */

/* Main-Body Starts */
.mainbody{
    margin-top: 20px;
    width: 566px;
    overflow: hidden;
}
.home-timeline{
   
}
.home-text span{
    color: #ffffff;
    margin-top: 30px;
    font-weight: bold;
    display: inline;
    font-size: 20px;
 
}
.home-text span svg{
   float: right;
    height: 20px;
    width: 20px;
}
.tweet-photo{
    margin-top: 20px;

}
.tweet-photo input{
    background-color: black;
    width: 502px;
    height: 52px;
    padding: 12px 0;
    border: none;
}
.tweet-icons{
    margin: 20px 0 0 50px; 
   ;   
}
.tweet-icons svg{
    fill:rgb(29, 155, 240);
    height: 20px;
    width: 20px;

}
.tweet-main-button{
    background-color: rgb(29, 155, 240);
    border-bottom-left-radius: 9999px; 
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: solid rgba(0, 0, 0, 0);
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    width: 76px;
    height: 36px;
    float: right;
  
}
.tweet-main-button:hover{
    background-color:rgb(24, 130, 200) ;
}
.likes-icon span svg{
    fill: rgb(113, 118, 123);
    height: 16px;
    width: 16px;
  
}
.likes-icon span {
    color:rgb(113, 118, 123) ;
    font-size: 13px;
}
.tweet{
 
}
#see-more
{
  color: rgb(29, 155, 240);
  cursor: pointer;

}
#dismiss{
    float: right;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
#tweet-name{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#handle-name{
    margin: 5px;
    color:rgb(113, 118, 123);
    font-size: 15px;
}
.post-photo img{
    margin-left: 50px;
    margin-top: 5px;
    border-radius: 5%;
    width: 90%;
}
#dot, #time{
    color:rgb(113, 118, 123) ;
    font-size: 15px;
}
#more{
    float: right;
    color:rgb(113, 118, 123) ;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
#more:hover{
    color:rgb(29, 155, 240) ;
    background-color:rgba(37, 68, 89, 0.537) ;
    border-radius: 50%;
}
.caption{
    margin-left: 50px;
    color: #ffffff;
}
.comment-section{
    padding: 10px;
    color: rgb(113, 118, 123);
    font-size: 13px;
    cursor: pointer;
}
.comment-section svg{
    fill:rgb(113, 118, 123) ;
    margin-left: 40px;
    
}
#comment-icon svg{
    width: 19px;
    height: 19px;
    cursor: pointer;
}
#retweet-icon svg, #heart-icon svg, #upload-icon svg{
    margin-left: 80px;
    width: 19px;
    height: 19px;
    cursor: pointer;
   
}
#comment-icon svg:hover{
    fill:rgb(24, 130, 200) ;
   
}
#comment-icon:hover{
    color:rgb(24, 130, 200) ;
}
#retweet-icon svg:hover{
    fill: rgb(70, 138, 58);
}
#retweet-icon:hover{
    color: rgb(70, 138, 58);
}
#heart-icon:hover{
    color: rgb(214, 0, 143);
}
#heart-icon svg:hover{
    fill: rgb(214, 0, 143);
}
#upload-icon svg:hover{
    fill:rgb(24, 130, 200);
}

/* .Main-Body Ends */

/* Right-Sidebar Starts */

.search-div{
    border-radius: 99999px;
    background-color: rgba(32, 35, 39, 1);
    margin-top: 15px;
    width:340px ;
    height: 40px;
   
  
}
.search-input input{
    margin-top:5px ;
    background-color: rgba(32, 35, 39, 1);
    border: none;
}
.search-input svg{
    margin-left: 10px;
    height:18px ;
    width:32px ;
    fill:rgb(113, 118, 123) ;
}

/* Trends-Div Start */
.trends-div{
    border-radius: 10px;
    background-color:rgba(22, 24, 28, 1);
    margin-top: 15px;
    width: 340px;
}
.main-trend{
    margin-bottom: 15px;
    cursor: pointer;
}
.main-trend:hover{
    background-color:rgb(30, 33, 37) ;
}
.trends-heading{
    color: rgb(231, 233, 234);
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;

}   
.trending-sa{
    color:rgb(113, 118, 123) ;
    padding-left: 15px;
}
.trending-sa span{
    float: right;
    font-size: 13px;
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
 
   
}
.trending-sa span:hover{
    color:rgb(24, 130, 200) ;
    background-color:rgba(37, 68, 89, 0.537) ;
    border-radius: 50%;
    
  
}
.name-trend{
    color:rgb(231, 233, 234) ;
    padding-left: 15px; 
}
.tweets-numb{
    color:rgb(113, 118, 123) ;
    font-size: 13px;
}

/* .Trends-Div Ends */

/* Follow-Div Start */
#handle-name-follow{
    margin-left: 50px;
    color:rgb(113, 118, 123)
}
#tweet-name br{
    margin-left: 50px;
}
.follow-div{

    margin-top: 50px;
    background-color:rgba(22, 24, 28, 1);
    border-radius: 10px;
    width: 340px;
 
    
   
    
}
.follow-heading h3{
    color:rgb(231, 233, 234) ;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.follower{
    cursor: pointer;
    padding-right:30px;
    padding-left: 20px;
    padding-top: 1px;
}

.follower:hover{
    background-color: rgb(30, 33, 37) ;    
}
.follow-button{
    background-color:rgb(231, 233, 234) ;
    color:black ;
    border-bottom-left-radius: 9999px; 
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border: solid rgba(0, 0, 0, 0);
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    width: 76px;
    height: 36px;
    float: right;
    
  
}

#show-more{
    color: rgb(29, 155, 240);
    cursor: pointer;
    padding-top: 20px;
    padding-bottom:20px ;
    padding-left: 20px;
}
#show-more:hover{
    background-color:rgb(30, 33, 37) ;
}

/* .Follow-Div Ends */

/* Footer Starts */
.footer{
    color: rgb(113, 118, 123);
    font-size: 13px;
    padding-top: 20px;
   
}
.footer span{
    color: rgb(113, 118, 123);
    font-size: 13px;
    padding-right: 10px;
  
}
.accesibility span{
    padding-right: 10px;
}
    /* .Footer-Ends */

/* .Right-Sidebar Ends */